<div class="course-card">
  <div class="course-card-header">
    {{title}}
  </div>
  <div class="card-body">
    <!-- We render the description below, using a Handlebars.js expression. -->
    <p>
      Description:
      {{description}}
    </p>
  </div>
</div>