<div class="userPostsContainer">
  <div>
    <h2>You are now logged in, Welcome to SPARK,
      <span id="userName">{{user.username}}</span>!</h2>

   
</div>


<h1>Your Kids' Classes</h1>












<h1>SignUp for a class:</h1>


  <label for="classCode">Enter Class Code:</label>
  <input type="text" id="classCode" placeholder="Enter the code">
  <button onclick="joinClass()">Submit</button>















<script src="/js/joinClass.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>